body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f8ff;
  margin: 20px;
}

footer {
  position: fixed;
  left: 20px;
  bottom: 20px;
}

.link {
  cursor: pointer;
  color: #0000FF;
  text-decoration: underline;
}

.sample-pictures {
  margin: 20px 0 20px 0;
  padding: 10px;
  display: flex;
  gap: 10px;
  width: max-content;
  background-color: #d7ecff;
  border: 1px solid #000000;
  border-radius: 10px;
}

.container {
  margin: 20px 0 20px 0;
}

.pointer {
  cursor: pointer;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  position: relative;
}

.modal-close {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(220,220,220,0.5);
  border-radius: 12px;
}
